html{
    background-color: #522828;
}
body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    }
.section1{
    overflow: hidden;
    /* Background setting for division head */
    position: absolute;
    height: 400px;
    top: 0px;
    width: 100%;
    text-align: justify;
    background: url(images/head.jpg) no-repeat center ;
    background-color: #2d2a2a;
    background-size: cover;
    background-attachment: fixed;
    /* Background blending comes here */ 
    -webkit-background-blend-mode: overlay;
    -moz-background-blend-mode: overlay;
    background-blend-mode: overlay;
    

}
h1{ /*Setting of h1*/
    color: whitesmoke;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    /*Line breaking tool is as follows*/
    white-space: pre;
    position: relative;
    top: 120px;
    left: 410px;
}
/*styling of paragraph in section one*/
p{
    position: relative;
    top: 120px;
    left: 440px;
    color:#e3e0e0;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    
}
/*styling 'LOG IN' link*/
a{
    border: 3px solid #3333ff;
    border-width: 16px;
    border-radius: 1em;
    color: white;
    text-decoration: none;
    background: #3333ff;
    position: absolute;
    top: 30px;
    right: 20px;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    letter-spacing: 0.2em;
    font-weight: bold;
    
}
/*Applying hover effect on 'LOG IN' & 'SIGN UP FOR FREE'*/
a:hover,button:hover{
    color: cornflowerblue;
}
/*styling 'SIGN UP FOR FREE' Button*/
button{
     border: 3px solid #3333ff;
    border-width: 16px;
    border-radius: 1em;
    color: white;
    text-decoration: none;
    background: #3333ff;
    position: absolute;
    top: 80%;
    left: 38%;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    letter-spacing: 0.2em;
    font-weight: bold;
    cursor: pointer;
}
.section2{
    overflow: hidden;
    background: url(images/bg.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 401px;
    height: 700px; 
    width: 100%;
    text-align: justify;
} 
.box1 {
    background-color: whitesmoke;
    width: 370px;
    height: 350px;
    position: absolute;
    top: 651px;
    left: 150px;
    box-shadow: 0 0 10px #000;
}
/*Styling of 'self-paced courses box''*/
.box1 h1{
    z-index: 2;
    color: black;
    font: 30px 'Quicksand', sans-serif;
    position: absolute;
    top: 45px;
    left: 23px;
    font-weight: bold;
}
.box1 p{
    z-index: 2;
    color: black;
    width: 250px;
    font: 20px 'Quicksand', sans-serif;
    position: relative;
    top: 125px;
    left: 30px;
}
.box2{
    background-color: whitesmoke;
     width: 370px;
    height: 350px;
    position: absolute;
    top: 651px;
    left: 600px;
    box-shadow: 0 0 10px #000;
}
.box2 h1{
     z-index: 2;
    color: black;
    font: 30px 'Quicksand', sans-serif;
    position: absolute;
    top: 45px;
    left: 20px;
    font-weight: bold;
}
.box2 p{
    z-index: 2;
    color: black;
    font: 20px 'Quicksand', sans-serif;
    position: relative;
    top: 125px;
    left: 60px;
}
.box3{
    background-color: whitesmoke;
     width: 370px;
    height: 350px;
    position: absolute;
    top: 651px;
    left: 1050px;
    box-shadow: 0 0 10px #000;
}
.box3 h1{
     z-index: 2;
    color: black;
    font: 30px 'Quicksand', sans-serif;
    position: absolute;
    top: 45px;
    left: 40px;
    font-weight: bold;
}
.box3 p{
     z-index: 2;
    color: black;
    width: 250px;
    font: 20px 'Quicksand', sans-serif;
    position: relative;
    top: 125px;
    left: 60px;
}

h3{
    /*Styling of h3*/
    color: #212121;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    /*Line breaking tool is as follows*/
    white-space: pre;
    position: relative;
    top: 40px;
    left: 150px;
    text-transform: lowercase;
}
h2{
    /*Styling of h2*/
    color: #212121;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    /*Line breaking tool is as follows*/
    white-space: pre;
    position: inherit;
    top: 55px;
    left: 150px;
}
.p1{
    color: #212121;
    width: 400px;
    position: relative;
    top: 40px;
    left: 850px;
}

.section3{
    overflow: hidden;
      position: absolute;
      top: 1101px;
      background: url(images/community.jpeg) no-repeat center;
      background-color: #2d2a2a;
      background-size: cover;
      width: 100%;
      height: 400px;
      text-align: justify;
    /* Background blending comes here */ 
    -webkit-background-blend-mode: overlay;
    -moz-background-blend-mode: overlay;
    background-blend-mode: overlay;
}
.section3 h1{
    color: whitesmoke;
    font-family: 'Quicksand', sans-serif;
    font-size: 55px;
    position: absolute;
    top: 100px;
    left: 120px;
    text-transform: uppercase;
}
.section3 h3{
    color: #4dbbe8;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 60px;
    left: 120px;
    text-transform: uppercase;
}
.section3 p{
    color: whitesmoke;
    width: 450px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 130px;
    left: 1000px;
    text-transform: lowercase;
}
.section4{
    overflow: hidden;
      position: absolute;
      top: 1501px;
      background-color: #2d2a2a;
      background-size: cover;
      width: 100%;
      height: 800px;
      text-align: justify;
}